@import url('https://fonts.googleapis.com/css2?family=Taviraj:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.taviraj-thin {
  font-family: "Taviraj", serif;
  font-weight: 100;
  font-style: normal;
}

.line {
  width: auto;
  height: 93px;
  border-width: 1px 0px 0px 0px;
  border-style: solid;
  border-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0,0,0,1), rgba(0,0,0,0)) 1;
}

.color-text {
  color: #e9b33fff;
}

.color-menu {
  color: #e9b33fff;
}

.color-menu:hover {
  width: auto;
  border-width: 2px 0px 0px 0px;
  border-style: solid;
  border-color: #e9b33fff;
  color: #e9b33fff;
}