@import url('https://fonts.googleapis.com/css2?family=Taviraj:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* =========== เฉพาะ font =========== */
.taviraj-thin {
  font-family: "Taviraj", serif;
  font-weight: 100;
  font-style: normal;
}

.taviraj-medium {
  font-family: "Taviraj", serif;
  font-weight: 500;
  font-style: normal;
}

.taviraj-extralight {
  font-family: "Taviraj", serif;
  font-weight: 200;
  font-style: normal;
}

* {
  font-family: "Taviraj", serif;
}

/* ============================================ */

.line {
  width: auto;
  height: 93px;
  border-width: 1px 0px 0px 0px;
  border-style: solid;
  border-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)) 1;
}

.color-text {
  background: linear-gradient(to right, #e9b33fff, rgb(175, 120, 0), #e9b33fff, rgb(175, 120, 0));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.color-menu {
  color: rgb(175, 120, 0);
}

.color-menu:hover {
  width: auto;
  border-width: 2px 0px 0px 0px;
  border-style: solid;
  border-color: #e9b33fff;
  color: #e9b33fff;
}

.zone-text {
  width: 600px;
  overflow: break-word;
}

.btn_hover {
  color: white;
  background: linear-gradient(to right, #e9b33fff, rgb(175, 120, 0), #e9b33fff);
}

.btn_hover:hover {
  color: white;
  background: rgb(0, 0, 0, 0.5);
  transition: 0.5s;
}

.h-b {
  width: auto;
  height: 80px;
  border-width: 0px 0px 1px 0px;
  border-style: solid;
  border-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)) 1;
}

.bd {
  border-bottom: solid;
  border-width: 0px 0px 1px 0px;
  border-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)) 1;
}

.myCard:hover .innerCard {
  transform: rotateY(180deg);
}

.chev {
  font-weight: bold;
  text-shadow:
    1px 0 black,
    /* เงาด้านขวา */
    -1px 0 black,
    /* เงาด้านซ้าย */
    0 1px black,
    /* เงาด้านล่าง */
    0 -1px black;
  /* เงาด้านบน */
  ;
}

.chev:hover {
  color: rgb(99, 48, 0);
  text-shadow:
    1px 0 rgb(99, 48, 0),
    /* เงาด้านขวา */
    -1px 0 rgb(99, 48, 0),
    /* เงาด้านซ้าย */
    0 1px rgb(99, 48, 0),
    /* เงาด้านล่าง */
    0 -1px rgb(99, 48, 0);
  /* เงาด้านบน */
  ;
}

.b {
  background-color: rgb(95, 95, 95);
  color: white;
  border-radius: 3ch;
  border: none;
  text-decoration: none;
}

.b:hover {
  background-color: rgb(196, 196, 196);
  color: rgb(0, 0, 0);
  transition: 0.3s ease-in-out;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.sb::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.sb {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.bt {
  position: fixed;
  bottom: 0%;
  height: 100px;
  box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.5);
}

.m {
  margin-bottom: 10%;
}

.btn-favorite {
  border-radius: 3ch;
  border: 3px solid #e83e8c;
  background-color: #ffffff;
  color: #e83e8c;
}

.btn-favorite:hover {
  border: none;
  background-color: #e83e8c;
  color: #fff;
  transition: 0.2s ease-in-out;
}

.btn-add-to-order {
  border-radius: 3ch;
  border: 3px solid #005319;
  background-color: #ffffff;
  color: #005319;
}

.btn-add-to-order:hover {
  border: none;
  background-color: #005319;
  color: #fff;
  transition: 0.2s ease-in-out;
}

.active,
.collapsible:hover {
  background-color: #555;
}

.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #f1f1f1;
}

.menu-card-1 {
  position: relative;
  background: url('../imgs/gaitom.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  width: 100%;
  height: 600px;
}

.menu-card-2 {
  position: relative;
  background: url('../imgs/gaitom.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  width: 100%;
  height: 480px;
}

.menu-card-3 {
  position: relative;
  background: url('../imgs/gaitom.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  width: 100%;
  height: 480px;
}

.menu-card-1::after,
.menu-card-2::after,
.menu-card-3::after {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 100%;
  height: 100px;
  background: #fff;
  clip-path: polygon(0 0, 50% 100%, 100% 0);
  transform: rotateX(180deg);
  z-index: 99999;
}

.menu-card-1::before,
.menu-card-2::before,
.menu-card-3::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* <-- ค่าความทึบ ปรับได้ */
  z-index: 1;
}

.rank-badge {
  position: absolute;
  top: 55px;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  font-weight: normal;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  z-index: 2;
  box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.5);
}

.rank-1 {
  background: goldenrod;
}

.rank-2 {
  background: gray;
}

.rank-3 {
  background: rgb(199, 109, 67);
}

.menu-info {
  position: absolute;
  bottom: 150px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}

.menu-info h5 {
  color: #fff;
  margin-bottom: 10px;
  font-size: 20px;
}

.btn-order {
  background: goldenrod;
  border: none;
  color: #000000;
  padding: 7px 30px;
  border-radius: 20px;
}

.btn-order:hover {
  background: #755400;
  color: #ffffff;
  transition: 0.2s ease;
}

.p {
  padding: 10%;
}

.od {
  color: linear-gradient(to right, #e9b33fff, rgb(175, 120, 0), #e9b33fff, rgb(175, 120, 0));
  text-decoration: none;
  font-weight: bolder;
}