@import url('https://fonts.googleapis.com/css2?family=Taviraj:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* =========== เฉพาะ font =========== */
.taviraj-thin {
  font-family: "Taviraj", serif;
  font-weight: 100;
  font-style: normal;
}

.taviraj-medium {
  font-family: "Taviraj", serif;
  font-weight: 500;
  font-style: normal;
}

.taviraj-extralight {
  font-family: "Taviraj", serif;
  font-weight: 200;
  font-style: normal;
}

* {
  font-family: "Taviraj", serif;
}

/* ============================================ */

.line {
  width: auto;
  height: 93px;
  border-width: 1px 0px 0px 0px;
  border-style: solid;
  border-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0,0,0,1), rgba(0,0,0,0)) 1;
}

.color-text {
  background: linear-gradient(to right, #e9b33fff, rgb(175, 120, 0), #e9b33fff, rgb(175, 120, 0));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.color-menu {
  color: rgb(175, 120, 0);
}

.color-menu:hover {
  width: auto;
  border-width: 2px 0px 0px 0px;
  border-style: solid;
  border-color: #e9b33fff;
  color: #e9b33fff;
}

.zone-text {
    width: 600px;
    overflow: break-word;
}

.btn_hover {
  color: white;
  background: linear-gradient(to right, #e9b33fff, rgb(175, 120, 0), #e9b33fff);
}

.btn_hover:hover{
  color: white;
  background: rgb(0, 0, 0, 0.5);
  transition: 0.5s;
}

.h-b {
  width: auto;
  height: 80px;
  border-width: 0px 0px 1px 0px;
  border-style: solid;
  border-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0,0,0,1), rgba(0,0,0,0)) 1;
}